body {
    background:black;
    font-family: Tahoma, Arial, sans-serif;
   }

h1 {
    color: white;
    font: 32px Garamond, Helvetica, serif;    
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
    }
   
.image {
    border: 10px groove cornflowerblue;
}
